<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">

    <a class="nav-link container" href="#">
         <form class="form-inlines my-2 my-lg-0">
            <input class="form-control col col-lg-6 mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-2 btn-search-adjust" type="submit">Search</button>
        </form>
    </a>
    
  </nav>
</div>