<div class="message-box">
        <% include ../partials/messages %>
</div>

<div class="container">
    <div class="log-reg-box">
        <div class="card border-info mb-6" style="max-width: 18rem;">
            <div class="card-header"><a href="/register" class="top-form-box">Signup</a><a class="top-form-box" href="/">Home</a></div>
            <div class="card-body text-info">
                <form>
                        <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" value="" class="form-control" id="email" aria-describedby="emailHelp"
                                    placeholder="hyphen.call@prolitus.com">
                            </div>
        
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" value="" class="form-control" id="password" placeholder="Password">
                            </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>



<% include ../include/script %>